@model IEnumerable<Pc2_Pogramacion.Models.Matricula>

<h2>Mis Matrículas</h2>

@if (!Model.Any())
{
    <div class="alert alert-info">
        No estás inscrito en ningún curso
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Curso</th>
                <th>Horario</th>
                <th>Estado</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
            {
                <tr>
                    <td>@m.Curso.Nombre</td>
                    <td>@m.Curso.HorarioInicio - @m.Curso.HorarioFin</td>
                    <td>@m.Estado</td>
                    <td>@m.FechaRegistro.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
}